body {
    background-color: black;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.embedded-slide {
    pointer-events: none;
}

body::-webkit-scrollbar, 
#outer-container::-webkit-scrollbar {
    display: none;
}



.control-div {
    position: absolute;
    right: 1%;
    top: 1%
}

#outer-container {
    width: 80vw;
    height: 45vw;  /* 16:9 aspect ratio */
    position: relative;
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: 100vh;
}

#slide-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    height: 100%; /*This creates issues with grid (before it was auto) */
}

/* Global slide styles 
.slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

/* Resetting for presentation mode 
.presentation .slide {
    height:45vw;
    max-height: 100vh;
    width: 100%;
    overflow: hidden; 
}/*


/* Global slide styles */
.embedded_slide {
    /*background-color: darkgrey;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid .slide {
    flex: 0 0 calc(24% - 8px);
}


.grid .slide::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; 
} 




.button-base {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    margin-left: -10px; /* Adjust this value as needed */
    margin-right: -10px; /* Adjust this value as needed */
}


.button-base:focus, .button-base:active {
    outline: none;
    box-shadow: none;
}

.button-arrow {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.button-arrow:focus, .button-arrow:active {
    outline: none;
    box-shadow: none;
    color: #0d6e56;  /* Slightly lighter text color when clicked */
}

.button-light {
    opacity: 0.6;
}




.fullscreen-mode {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* Default style (covers wider screens) */
.fullscreen-mode .slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100vw;
    height: 56.25vw;
    
    max-height: 100vh;
    max-width: calc(100vh * 16 / 9);
}

/* For screens taller than 16:9 */
@media (max-aspect-ratio: 16/9) {
    .fullscreen-mode .slide {
        width: calc(100vh * 16 / 9);
        height: 100vh;
    }
}


/* Custom styles for code blocks */
.hljs {
    background: transparent;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
    overflow: auto;
    z-index: 1; /* Sit on top */
}

.modal-content {
    background-color: #333333; /* Charcoal */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Adjust this value for the modal width */
    position: relative;
    color: white;
    word-wrap: break-word; /* Break long words if necessary */
    overflow: hidden;      /* Hide overflowed content */
}

#modalText {
    white-space: pre-line; /* Allows text to wrap */
    overflow-wrap: break-word; /* Break long words if necessary */
    max-width: 100%; /* Ensure the text doesn't go beyond the modal */
}

#copyBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#copyBtn:hover {
    color: gray;
}

#copyMessage {
    display: none;
    color: limegreen;
    margin-top: 10px;
    font-weight: bold;
}


